<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>isismsorderfree</name>
    <displayName>ISISmsOrderFree</displayName>
    <version>1.1</version>
    <description>Envoie un SMS à chaque commande sur votre ligne Free Mobile</description>
    <tab>front_office_features</tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>
